<div class="container">

   <div class="row">

        <div class="col-9">
            Productos

            <div class="row">

                <div class="col-4" *ngFor="let producto of productos" style="margin-top: 5px;">
                    <div class="card-header bg-primary text-white">$ - {{producto.precio}} cop</div>
                    <div class="card-body bg-secondary">
                        <h5 class="card-title text-white">{{producto.descripcion}}</h5>
                    </div>
                </div>
                
               
            </div>

        </div>

        <div class="col-2">
            Carrito
        </div>
   </div>

</div>
