<div class="container">
    <br>
    <button (click)="initMap(); reset_form()" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal-nuevo">Agregar cliente</button>
    <hr>

    <br>

     <table class="table">

        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Telefono</th>
                <th>Acción</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let cliente of clientes">
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.apellidos}}</td>
                <td>{{cliente.telefono}}</td>
                <td>
                    <button (click)="cargar_datos(cliente); map_edit()" data-toggle="modal" data-target="#modal-editar" class="btn btn-primary btn-sm">
                        Editar
                    </button> |
                    <button (click)="cargar_datos(cliente)" data-toggle="modal" data-target="#modal-ubicacion" class="btn btn-info btn-sm">
                        Ver ubicación
                    </button> |
                    <button (click)="delete_cliente(cliente.id)" class="btn btn-danger btn-sm">
                        Eliminar
                    </button>
                </td>
            </tr>
        </tbody>

     </table>

    <!-- Inicio modal nuevo cliente -->
        <div class="modal fade" id="modal-nuevo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-success">
                <h5 class="modal-title text-white" id="exampleModalLabel">Información cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                
                    <form [formGroup]="form_cliente" (ngSubmit)="save_cliente()">

                        <div class="row">
                            <div class="col">
                                <label for="">Cédula</label>
                                <input formControlName="cedula" type="text" class="form-control" required>
                            </div>
                            <div class="col">
                                <label for="">Nombre</label>
                                <input formControlName="nombre" type="text" class="form-control" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="">Apellidos</label>
                                <input formControlName="apellidos" type="text" class="form-control" required>
                            </div>
                            <div class="col">
                                <label for="">Teléfono</label>
                                <input formControlName="telefono" type="number" class="form-control" required>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col">
                                <label for="">Dirección</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="">Latitud</label>
                                <input formControlName="latitud"  id="latitud" type="text" class="form-control form-control-sm" readonly>
                            </div>
                            <div class="col">
                                <label for="">Longitud</label>
                                <input formControlName="longitud" id="longitud" type="text" class="form-control form-control-sm" readonly>
                            </div> 
                           
                        </div>
                        <br>
                        <div class="row">
                            
                            <div id="map" style="width: 795px; height: 400px;"></div>

                        </div>

                        <br>
                        <button class="btn btn-success btn-sm">Guardar</button>

                    </form>

                </div>
                
            </div>
            </div>
        </div>

        <!-- Final modal nuevo cliente -->


        <!-- Inicio modal editar cliente -->
        <div class="modal fade" id="modal-editar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-info">
                <h5 class="modal-title text-white" id="exampleModalLabel">Editar cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                
                    <form [formGroup]="form_cliente" (ngSubmit)="update_cliente()">

                        <div class="row">
                            <div class="col">
                                <label for="">Cédula</label>
                                <input *ngIf="cliente" [(ngModel)]="cliente.cedula" formControlName="cedula" type="number" class="form-control" required>
                            </div>
                            <div class="col">
                                <label for="">Nombre</label>
                                <input *ngIf="cliente" [(ngModel)]="cliente.nombre" formControlName="nombre" type="text" class="form-control" required>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="">Apellidos</label>
                                <input *ngIf="cliente" [(ngModel)]="cliente.apellidos" formControlName="apellidos" type="text" class="form-control" required>
                            </div>
                            <div class="col">
                                <label for="">Teléfono</label>
                                <input *ngIf="cliente" [(ngModel)]="cliente.telefono" formControlName="telefono" type="number" class="form-control" required>
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col">
                                <label for="">Dirección</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="">Latitud</label>
                                <input *ngIf="cliente" [(ngModel)]="cliente.latitud" formControlName="latitud"  id="latitud_e" type="text" class="form-control form-control-sm" required readonly>
                            </div>
                            <div class="col">
                                <label for="">Longitud</label>
                                <input *ngIf="cliente" [(ngModel)]="cliente.longitud" formControlName="longitud" id="longitud_e" type="text" class="form-control form-control-sm" required readonly>
                            </div> 
                           
                        </div>
                        <br>
                        <div class="row">
                            
                            <div id="map_editar" style="width: 795px; height: 400px;"></div>

                        </div>

                        <br>
                        <button class="btn btn-success btn-sm">Guardar cambios</button>

                    </form>

                </div>
                
            </div>
            </div>
        </div>

        <!-- Final modal editar cliente -->

        <!-- Modal ubicación cliente -->

            <div class="modal fade" id="modal-ubicacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white" id="exampleModalLabel">Ubicación cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                
                        
                        <div class="row" style="margin-left: auto; margin-right: auto">
                            
                            <google-map width="700px" height="400px"
                                [center]="position_ver"
                                [zoom]="zoom"
                                >

                                <map-marker
                                [position]="position_ver"
                                >
                                </map-marker>

                            </google-map>

                        </div>
                   
                        
                
                    </div>
                    
                </div>
                </div>
            </div>

        <!-- Final modal ubicación cliente -->

</div>
