<div class="container">
    <br>
    <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal-nuevo">Agregar cliente</button>
    <hr>

    <!-- Inicio modal nuevo cliente -->
        <div class="modal fade" id="modal-nuevo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header bg-success">
                <h5 class="modal-title text-white" id="exampleModalLabel">Información cliente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                
                    <form>

                        <div class="row">
                            <div class="col">
                                <label for="">Cédula</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col">
                                <label for="">Nombre</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="">Apellidos</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="col">
                                <label for="">Teléfono</label>
                                <input type="number" class="form-control">
                            </div>
                        </div>

                        <hr>
                        <div class="row">
                            <div class="col">
                                <label for="">Dirección</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="">Longitud</label>
                                <input type="number" step="any" class="form-control form-control-sm">
                            </div>
                            <div class="col">
                                <label for="">Latitud</label>
                                <input type="number" step="any" class="form-control form-control-sm">
                            </div>
                        </div>

                        <div class="row">
                            
                            <google-map width="795px"
                            [center]="center"
                            [zoom]="zoom"
                            [title]="title"
                            
                            >

                            <map-marker
                            [position]="position"
                            [draggable]="true"
                            >

                            </map-marker>

                            

                            </google-map>

                        </div>

                        <br>
                        <button class="btn btn-success btn-sm">Guardar</button>

                    </form>

                </div>
                
            </div>
            </div>
        </div>

        <!-- Final modal nuevo cliente -->

</div>
