<div class="container">

    <div class="card">
        <div class="card-header bg-primary">
          <p class="text-white">Inicio de sesión</p>
        </div>
        <div class="card-body">
          
            <form>
                
                <div class="row">
                    <div class="col">
                        <label for="">Email</label>
                        <input type="email" class="form-control">
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <label for="">Password</label>
                        <input type="password" class="form-control">
                    </div>
                </div>

                <button class="btn btn-primary">Ingresar</button>

            </form>

        </div>
      </div>

</div>
