<div class="container">

    <h3>Asignar insumos</h3>
    <hr>
    
    <ul class="list-group">
        <li *ngFor="let producto of productos" class="list-group-item">
            <div class="card">
                <div class="card-header">
                  {{producto.nombre}}
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{producto.descripcion}}</h5>
                  <button (click)="listar_insumos(); cargar_datos_producto(producto)" class="btn btn-warning" data-toggle="modal" data-target="#modal-asignar">
                    Asignar
                  </button> | 
                  <button (click)="cargar_datos_producto(producto); listar_asignaciones(producto.id)" class="btn btn-primary" data-toggle="modal" data-target="#modal-mostrar-asignaciones">
                    Ver asignaciones
                  </button> 
                  
                </div>
              </div>
        </li>
    </ul>

    <!-- Inicio modal asignación insumo -->

    <div class="modal fade" id="modal-asignar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header bg-warning">
            <h5 class="modal-title text-white" id="exampleModalLabel">Insumos</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

              <label for="">Insumo</label>
              <ng-select [(ngModel)]="data_insumo" class="form-control form-control-sm">
                    <ng-option class="custom" *ngFor="let insumo of insumos" [value]="insumo">{{insumo.descripcion}}</ng-option>
              </ng-select>

              <!-- <select class="form-control form-control-sm" [(ngModel)]="data_insumo">
               
                <option selected value="" disabled>Seleccione fecha de inventario</option>
                <option [value]="insumo" *ngFor="let insumo of insumos">{{insumo.descripcion}}</option>

              </select> -->

            <br><br>
            <form [formGroup]="form_producto_insumo" (ngSubmit)="save_producto_insumo()">

              <div class="row">
                <div class="col">
                  <label for="">ID producto</label>
                  <input formControlName="id_producto" *ngIf="producto" [(ngModel)]="producto.id" type="number" class="form-control form-control-sm" readonly required>
                </div>
                <div class="col">
                  <label for="">ID insumo</label>
                  <input formControlName="id_insumo" *ngIf="data_insumo" [(ngModel)]="data_insumo.id" type="number" class="form-control form-control-sm" readonly required>
                </div>
              </div>

              <div class="row">

                <div class="col">
                  <label for="">Descripción insumo</label>
                  <input formControlName="descripcion" *ngIf="data_insumo" [(ngModel)]="data_insumo.descripcion" type="text" class="form-control form-control-sm" required readonly>
                </div>
                
                <div class="col">
                  <label for="">Descontar</label>
                  <input formControlName="restar" type="number" class="form-control form-control-sm" required>
                </div>
                
              </div>

              <br>
              <button class="btn btn-success btn-sm" type="submit">Guardar</button>
            </form>
            

          </div>
          
        </div>
      </div>
    </div>

    <!-- Final modal asignación insumo -->

    <!-- Inicio modal mostrar asignaciones -->

    <div class="modal fade" id="modal-mostrar-asignaciones" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header bg-primary">
            <h5 class="modal-title text-white" id="exampleModalLabel">Insumos asignados</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
            <div *ngIf="producto" class="card-header">
              <h5>{{producto.descripcion}}</h5>
            </div>

            <ul class="list-group">
              <li *ngFor="let asignacion of asignaciones" class="list-group-item text-white list-group-item-action list-group-item-secondary">
                {{asignacion.descripcion}}
                <button (click)="delete_producto_insumo(asignacion.id)" class="btn btn-danger btn-sm" style="float: right">Eliminar</button>
              </li>
            </ul>

          </div>
          
        </div>
      </div>
    </div>

    <!-- Final modal mostrar asignaciones -->

</div>
