<div class="container">

    <h3>Asignar insumos</h3>
    <hr>
    
    <ul class="list-group">
        <li class="list-group-item">
            <div class="card">
                <div class="card-header">
                  Producto
                </div>
                <div class="card-body">
                  <h5 class="card-title">Producto</h5>
                  <button class="btn btn-warning">
                    Asignar
                  </button> | 
                  <button class="btn btn-primary" data-toggle="modal" data-target="#modal-editar">
                    Ver asignaciones
                  </button> 
                  
                </div>
              </div>
        </li>
    </ul>

</div>
