<div class="container">

    <div class="card-header bg-secondary">
        <h6 class="text-white">Registro de productos</h6>
    </div>
    <hr>
    <form>

        <div class="row">
            <div class="col">
                <label for="">Nombre producto</label>
                <input type="text" class="form-control form-control-sm">
            </div>
            <div class="col">
                <label for="">Descripción producto</label>
                <input type="text" class="form-control form-control-sm">
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="">Precio</label>
                <input type="number" step="any" class="form-control form-control-sm">
            </div>
            <div class="col">
                <label for="">Stock</label>
                <input type="number" class="form-control form-control-sm">
            </div>
        </div>
        <br>
        <button class="btn btn-success">Registrar</button>

    </form>

</div>
